%h1= "Listing #{@recipes.count} out of #{@recipes.total_entries} Recipes"

%table.table.table-striped
  %thead.thead-dark
    %tr
      %th Title
      %th Image
      %th

  %tbody
    - @recipes.each do |recipe|
      %tr
        %td= recipe.title
        %td= image_tag(recipe.image, size: '90', alt: recipe.image)
        %td= link_to('Show', "recipes/#{recipe.id}")

%br

= will_paginate(@recipes, renderer: WillPaginate::ActionView::BootstrapLinkRenderer)
