%p#notice= notice

%table
  %td
    - [:title, :description, :chef_name, :tags].each do |attr|
      - if @recipe.send(attr).present?
        %p
          %b= "#{attr.to_s.titleize}:"
          = @recipe.send(attr)
  %td
    %p
      = image_tag(@recipe.image, size: '300', alt: @recipe.image)

= link_to 'Back', recipes_path
